@tailwind base;
* {
    scrollbar-width: thin;
    scrollbar-color: grey;
  
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  
  }
  
  *::-webkit-scrollbar-track {
    background: grey;
  
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:grey;
    border-radius: 34px;
    border: 3px solid grey;
  }
  
@tailwind components;
@tailwind utilities;

